#notification-area{
	position: relative;
  top: 0;
  right: 0;
  z-index: 9999;
	width: 420px;
  padding: 18px 20px 0 !important;
	background: #d7e9f3;
	border: 1px solid #86b2c9;
	h3{
		font-weight: bold;
		clear:none !important;
		margin: 0;
		padding: 0;
		color: #222;
	}
	p{
		margin: 0 0 10px;
		color: #222;
	}
	a{
		color: #999;
	}
	&.not-shortcode {
		position: fixed !important;
	}
	&.show{
		display: block !important;
	}
	&.red{
		background: #ff8e8e;
		border-color: #d75454;
		p,h3{
			color: #222;
		}
		a{
			color: #666;
		}
		#remove-notice{
			border-color: #d75454;
			&:hover{
				background: #d75454;
			}
		}
	}
	&.orange{
		background: #fe8e33;
		border-color: #c75a02;
		p,h3{
			color: #222;
		}
		a{
			color: #666;
		}
		#remove-notice{
			border-color: #c75a02;
			&:hover{
				background: #c75a02;
			}
		}
	}
	&.green{
		background: #5dd428;
		border-color: #46b117;
		p,h3{
			color: #222;
		}
		a{
			color: #666;
		}
		#remove-notice{
			border-color: #46b117;
			&:hover{
				background: #46b117;
			}
		}
	}
	&.gray{
		background: #d8d8d8;
		border-color: #bebebe;
		p,h3{
			color: #222;
		}

    a {
      color: #666;

      &.remove-notice {
        color: #fff;
        border-color: #000;
        background: #074e68;
        margin-bottom: 17px;

        &:hover {
          background: #c4e00a;
          color: #074e68;
        }
      }
    }
	}
}
.admin-bar{
	#notification-area{
		top: 0px;
		&.not-shortcode {
			top: 24px;
			display: none;
		}
		&.hidden{
			display: none;
		}
	}
}
#remove-notice{
	display: block;
	float: right;
	margin: 10px 0 0 10px;
  margin-top: 0;
	border: 1px solid #86b2c9;
	padding: 1px 6px;
	color: #333;
	&:hover{
		text-decoration: none;
		background: #86b2c9;
		color: #fff;
	}
}
